[submodule "ThirdParty/asio"]
    path = ThirdParty/asio
    url = ../../chriskohlhoff/asio
[submodule "ThirdParty/fmtlib"]
    path = ThirdParty/fmtlib
    url = ../../fmtlib/fmt.git
[submodule "ThirdParty/containers"]
    path = ThirdParty/containers
    url = ../../GMLC-TDC/containers.git
    branch = main
[submodule "ThirdParty/concurrency"]
    path = ThirdParty/concurrency
    url = ../../GMLC-TDC/concurrency.git
[submodule "ThirdParty/utilities"]
    path = ThirdParty/utilities
    url = ../../GMLC-TDC/utilities.git
[submodule "ThirdParty/units"]
    path = ThirdParty/units
    url = ../../LLNL/units.git
[submodule "ThirdParty/spdlog"]
    path = ThirdParty/spdlog
    url = ../../gabime/spdlog.git
[submodule "ThirdParty/toml"]
	path = ThirdParty/toml
	url = ../../ToruNiina/toml11
[submodule "ThirdParty/networking"]
	path = ThirdParty/networking
	url = ../../GMLC-TDC/networking.git
	branch = main
[submodule "ThirdParty/libzmq"]
	path = ThirdParty/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "ThirdParty/googletest"]
	path = ThirdParty/googletest
	url = https://github.com/google/googletest.git
[submodule "ThirdParty/benchmark"]
	path = ThirdParty/benchmark
	url = https://github.com/google/benchmark.git
