{
  "overrides": [
  {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    },
    {
      "files": ["*.yml", "*.yaml","*.YML", "*.YAML"],
      "rules": {
        "quotes": ["error", "single"]
      }
    }
  ]
}
