exclude: ^(ThirdParty/|interfaces/java/interface/|interfaces/matlab/interface/|interfaces/python/interface/|.github/workflows/)
repos:
- repo: https://github.com/psf/black
  rev: 19.10b0
  hooks:
  - id: black
    args: ['--line-length=100']
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.1.7
  hooks:
  - id: remove-tabs
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.5.0
  hooks:
  - id: check-added-large-files
  - id: mixed-line-ending
  - id: trailing-whitespace
  - id: check-merge-conflict
  - id: check-case-conflict
  - id: check-yaml
    args: ['--allow-multiple-documents']
  - id: check-toml
  - id: end-of-file-fixer
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.10
  hooks:
  - id: cmake-format
    exclude: 'cmake+'
- repo: https://github.com/codespell-project/codespell
  rev: v1.16.0
  hooks:
  - id: codespell
    args: ['-w']

