exclude: ^(ThirdParty/|interfaces/java/interface/|interfaces/matlab/interface/|.github/workflows/|docs/img/)
ci:
  autoupdate_branch: "develop"
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks-nodejs
    rev: v1.1.2
    hooks:
      - id: dockerfile_lint
        args: [--rulefile, ./config/Docker/docker_rules.yml, --dockerfile]
  - repo: https://github.com/psf/black
    rev: 22.8.0
    hooks:
      - id: black
        args: ["--line-length=100"]
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==21.10b0]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.3.1
    hooks:
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: check-symlinks
      - id: check-shebang-scripts-are-executable
      - id: check-executables-have-shebangs
      - id: debug-statements
      - id: detect-private-key
        exclude: ^(tests/helics/test_files/encryption_config/openssl_certs/)
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.0
    hooks:
      - id: prettier
        exclude: ^(docs/user-guide/examples/user_guide_examples)
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: markdownlint
        args: [-s, ./config/.markdownlintrc]
        exclude: "mac.md"
      - id: script-must-have-extension
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.8.0.4
    hooks:
      - id: shellcheck
        args: [-x]
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        exclude: "cmake+"
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
      - id: codespell
        exclude: ^(docs/user-guide/examples/user_guide_examples)
        args:
          [
            "-w",
            "--skip=*.csv",
            "--ignore-words=./config/spelling_whitelist.txt",
            "--exclude-file=./config/spelling_ignorelines.txt",
          ]
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
      - id: clang-format
        types:
          - c++
  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.3.1]
        entry: shfmt -w
        types: [shell]
