exclude: ^(ThirdParty/|interfaces/java/interface/|interfaces/matlab/interface/|.github/workflows/)
ci:
  skip: [docker-clang-format]
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks-nodejs
    rev: v1.1.1
    hooks:
      - id: dockerfile_lint
        args: [--rulefile, ./config/Docker/docker_rules.yml, --dockerfile]
  - repo: https://github.com/psf/black
    rev: 21.11b1
    hooks:
      - id: black
        args: ["--line-length=100"]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.10
    hooks:
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: check-toml
      - id: end-of-file-fixer
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.4.1
    hooks:
      - id: prettier
        exclude: ^(docs/user-guide/examples/user_guide_examples)
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.5
    hooks:
      - id: markdownlint
        args: [-s, ./config/.markdownlintrc]
        exclude: "mac.md"
      - id: script-must-have-extension
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.8.0.1
    hooks:
      - id: shellcheck
        args: [-x]
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        exclude: "cmake+"
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        exclude: ^(docs/user-guide/examples/user_guide_examples)
        args:
          [
            "-w",
            '--skip="*.csv"',
            "--ignore-words=./config/spelling_whitelist.txt",
          ]
  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.3.0]
        entry: shfmt -w
        types: [shell]
      - id: docker-clang-format
        name: Docker Clang Format
        language: docker_image
        types:
          - c++
        entry: unibeautify/clang-format:latest
        args:
          - -style=file
          - -i
