dist: xenial
language: cpp

cache:
  ccache: true
  directories:
    - dependencies
    - build/libs

before_cache:
  - ${TRAVIS_BUILD_DIR}/scripts/cleanup-cmake.sh

env:
  global:
    - MAKEFLAGS="-j 2"

# Create aliases for some of shared build configuration
_basic_env:
- &daily_linux
  if: type = cron
  os: linux
  compiler: gcc
  addons:
    apt:
      sources:
        - ubuntu-toolchain-r-test
      packages:
        - g++-6
        - valgrind
        - lcov
- &daily_osx
  if: type = cron
  os: osx
  compiler: clang
- &linux_base
  if: type != cron
  os: linux
  compiler: gcc
- &osx_base
  os: osx
  compiler: clang

jobs:
  # On weekdays, the backlog for waiting OS X builds is huge
  fast_finish: true
  allow_failures:
    - os: osx
    - name: "Clang 4 Thread Sanitizer"
    - script: scripts/trigger-dependent-ci-builds.sh

  include:
    # XCode 10.1, OS X 10.13
    - <<: *osx_base
      name: "XCode 10.1, OS X 10.13"
      env:
        - MATRIX_EVAL="COMPILER=clang && BUILD_TYPE=Release && TRAVIS_XCODE_VERSION=101"
        - HOMEBREW_NO_AUTO_UPDATE=1
      osx_image: xcode10.1

    # XCode 8.3, OS X 10.12
    - <<: *osx_base
      name: "XCode 8.3, macOS 10.12"
      if: (branch = develop AND type IN (pull_request, cron)) OR (branch = master AND type IN (push, pull_request))
      env:
        - MATRIX_EVAL="COMPILER=clang && BUILD_TYPE=Release && TRAVIS_XCODE_VERSION=83"
        - HOMEBREW_NO_AUTO_UPDATE=1
      osx_image: xcode8.3

    - <<: *linux_base
      name: "GCC 6"
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-6
      env:
        - MATRIX_EVAL="COMPILER=gcc && CC=gcc-6 && CXX=g++-6"
        - USE_SWIG=true
        - USE_MPI=mpich

    - <<: *linux_base
      name: "GCC 4.9 (No SWIG)"
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-4.9
      env:
        - MATRIX_EVAL="COMPILER=gcc && CC=gcc-4.9 && CXX=g++-4.9"
        - USE_SWIG=false
        - CI_BOOST_VERSION=1.61.0
        - ENABLE_CPACK=true
        - INSTALL_SYSTEM_LIBRARIES=true
      after_script: ${TRAVIS_BUILD_DIR}/scripts/upload-ci-artifact.sh

    - <<: *linux_base
      name: "Clang 3.6"
      compiler: clang
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-precise-3.6
          packages:
            - clang-3.6
      env:
        - MATRIX_EVAL="COMPILER=clang && CC='clang-3.6' && CXX='clang++-3.6'"
        - CCACHE_CPP2=yes
        - USE_SWIG=true

   # ------------------------------------------------
   # Jobs for daily valgrind and code coverage tests
   # ------------------------------------------------
    # Valgrind build
    - <<: *daily_linux
      name: "GCC 6 Valgrind"
      env:
        - MATRIX_EVAL="COMPILER=gcc && CC=gcc-6 && CXX=g++-6"
        - USE_SWIG=true
        - RUN_VALGRIND=true
        - DISABLE_INTERFACES="Python,Java"
        - BUILD_TYPE=RelWithDebInfo
    # Code coverage build
    - <<: *daily_linux
      name: "GCC 6 Code Coverage"
      env:
        - MATRIX_EVAL="COMPILER=gcc && CC=gcc-6 && CXX=g++-6"
        - USE_SWIG=true 
        - TEST_TYPE=Coverage
        - BUILD_TYPE=Coverage
        - DISABLE_INTERFACES="Python,Java"
        - GCOV_TOOL=gcov-6
        - USE_MPI=mpich
        - CTEST_VERBOSE=true
    # GCC 5 build
    - <<: *daily_linux
      name: "GCC 5"
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-5
      env:
        - MATRIX_EVAL="COMPILER=gcc && CC='gcc-5' && CXX='g++-5'"
    # Clang 5 build
    - <<: *daily_linux
      name: "Clang 5"
      compiler: clang
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-trusty-5.0
          packages:
            - libstdc++-6-dev
            - clang-5.0
      env:
        - MATRIX_EVAL="COMPILER=clang && CC='clang-5.0' && CXX='clang++-5.0'"
        - CCACHE_CPP2=yes
        - USE_SWIG=true
        - CXX_STANDARD=17
    # TSAN build
    - <<: *daily_linux
      name: "Clang 4 Thread Sanitizer"
      compiler: clang
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-trusty-4.0
          packages:
            - libstdc++-6-dev
            - clang-4.0
      env:
        - MATRIX_EVAL="COMPILER=clang && CC='clang-4.0' && CXX='clang++-4.0'"
        - CCACHE_CPP2=yes
        - CI_TEST_CONFIG="TSAN"
        - DISABLE_INTERFACES="Python,Java"
        - RUN_TSAN=true
        - USE_MPI=mpich
        - JOB_OPTION_FLAGS="-C../scripts/tsan-cache.cmake"
    # UBSAN build
    - <<: *daily_linux
      name: "Clang 4 Undefined Behavior Sanitizer"
      compiler: clang
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-trusty-4.0
          packages:
            - libstdc++-6-dev
            - clang-4.0
      env:
        - MATRIX_EVAL="COMPILER=clang && CC='clang-4.0' && CXX='clang++-4.0'"
        - CCACHE_CPP2=yes
        - DISABLE_INTERFACES="Python,Java"
        - RUN_UBSAN=true
        - USE_MPI=mpich
        - JOB_OPTION_FLAGS="-C../scripts/ubsan-cache.cmake"
      
    - stage: trigger dependent repositories
      if: branch == develop
      before_install: true
      install: true
      script: scripts/trigger-dependent-ci-builds.sh

branches:
  except:
    - gh-pages

before_install:
  - eval "${MATRIX_EVAL}"
  - $CXX --version

install:
  - export BOOST_USE_STATIC=true
  - source scripts/install-ci-dependencies.sh
  - source scripts/setup-helics-ci-options.sh
  
script:
  - mkdir -p build && cd build
  - HELICS_DEPENDENCY_FLAGS+="-DBOOST_INSTALL_PATH=${CI_DEPENDENCY_DIR}/boost"
  - cmake .. ${JOB_OPTION_FLAGS} ${HELICS_DEPENDENCY_FLAGS} ${HELICS_OPTION_FLAGS} -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
  - make ${MAKEFLAGS}

  # Setup counters for coverage
  - if [[ "$BUILD_TYPE" == "Coverage" ]]; then pushd .. && scripts/lcov-helper.sh setup-counters && popd ; fi

  - if [[ "TRAVIS_OS_NAME" == "osx" ]]; then python ../scripts/fix_install_names.py ; fi
  - if [[ "TRAVIS_OS_NAME" == "osx" ]]; then make ${MAKEFLAGS} install ; fi

  # Run CI tests
  - export CTEST_OPTIONS="--output-on-failure"
  - travis_wait ../scripts/run-ci-tests.sh ${CI_TEST_FLAGS}

  # Gather coverage results
  - if [[ "$BUILD_TYPE" == "Coverage" ]]; then pushd .. && scripts/lcov-helper.sh gather-coverage-info --gcov ${GCOV_TOOL} --codecov && popd ; fi

  # Create an installer using CPack
  - if [[ "$ENABLE_CPACK" ]]; then cpack -G STGZ -B $(pwd)/cpack-output ; fi

notifications:
    email: false

