language: cpp
dist: trusty

cache:
  ccache: true
  directories:
    - dependencies
    - build/libs

before_cache:
  - ${TRAVIS_BUILD_DIR}/scripts/cleanup-cmake.sh

env:
  global:
    - MAKEFLAGS="-j 2"

# Create aliases for some of shared build configuration
_basic_env:
- &daily_linux
  if: type = cron
  os: linux
  compiler: gcc
  addons:
    apt:
      sources:
        - ubuntu-toolchain-r-test
      packages:
        - g++-6
        - valgrind
        - lcov
        - libzmq3-dev
- &daily_osx
  if: type = cron
  os: osx
  compiler: clang
- &linux_base
  os: linux
  compiler: gcc
- &osx_base
  os: osx
  compiler: clang

# Install macOS dependencies using Homebrew
addons:
  homebrew:
    brewfile: .ci/Brewfile.travis
    update: true

jobs:
  # On weekdays, the backlog for waiting OS X builds is huge
  fast_finish: true
  allow_failures:
    - os: osx
    - name: "Clang 5 Thread Sanitizer"
    - script: scripts/trigger-dependent-ci-builds.sh

  include:
    # XCode 10.2, OS X 10.14
    - <<: *osx_base
      name: "XCode 10.2, OS X 10.14"
      env:
        - MATRIX_EVAL="COMPILER=clang && BUILD_TYPE=Release && TRAVIS_XCODE_VERSION=102"
        - HOMEBREW_NO_AUTO_UPDATE=1
      osx_image: xcode10.2

    # XCode 8.3, OS X 10.12
    - <<: *osx_base
      name: "XCode 8.3, macOS 10.12"
      if: (branch = develop AND type IN (cron)) OR (branch = master AND type IN (push, pull_request))
      env:
        - MATRIX_EVAL="COMPILER=clang && BUILD_TYPE=Release && TRAVIS_XCODE_VERSION=83"
        - HOMEBREW_NO_AUTO_UPDATE=1
      osx_image: xcode8.3

    - <<: *linux_base
      name: "GCC 6"
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-6
            - libzmq3-dev
      env:
        - MATRIX_EVAL="COMPILER=gcc && CC=gcc-6 && CXX=g++-6"
        - USE_SWIG=true
        - USE_MPI=mpich

    # Clang 5 build
    - <<: *linux_base
      name: "Clang 5"
      compiler: clang
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-trusty-5.0
          packages:
            - libstdc++-6-dev
            - clang-5.0
            - libzmq3-dev
      env:
        - MATRIX_EVAL="COMPILER=clang && CC='clang-5.0' && CXX='clang++-5.0'"
        - CCACHE_CPP2=yes
        - USE_SWIG=true
        - USE_CMAKE_VERSION=3.14.5
        - CXX_STANDARD=17

    - <<: *linux_base
      name: "GCC 4.9 (No SWIG, Packaging)"
      if: (branch = develop AND type IN (pull_request, cron)) OR (branch != develop)
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-4.9
            - libzmq3-dev
      env:
        - MATRIX_EVAL="COMPILER=gcc && CC=gcc-4.9 && CXX=g++-4.9"
        - USE_SWIG=false
        - CI_BOOST_VERSION=1.61.0
        - ENABLE_CPACK=true		
        - INSTALL_SYSTEM_LIBRARIES=true
        - TEST_TYPE=Packaging
      after_script: ${TRAVIS_BUILD_DIR}/scripts/upload-ci-artifact.sh

    - <<: *linux_base
      name: "Clang 3.6"
      if: (branch = develop AND type IN (pull_request, cron)) OR (branch = master AND type IN (push, pull_request))
      compiler: clang
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-precise-3.6
          packages:
            - clang-3.6
            - libzmq3-dev
      env:
        - MATRIX_EVAL="COMPILER=clang && CC='clang-3.6' && CXX='clang++-3.6'"
        - CCACHE_CPP2=yes
        - USE_SWIG=true
        - CI_BOOST_VERSION=1.58.0
        - SKIP_TEST_RUN=true

    - os: windows
      name: "MinGW"
      if: (branch = develop AND type IN (cron)) OR (branch = master AND type IN (push, pull_request)) OR (branch =~ /(mingw)/) OR (commit_message =~ /(mingw)/)
      env:
        - DISABLE_INTERFACES="Python,Java"
      install:
        - echo $PATH
        - export SHELL=cmd
        - source scripts/setup-helics-ci-options.sh
        - choco install boost-msvc-12
      script:
        - mkdir -p build && cd build
        - export CC=gcc
        - export CXX=g++
        - powershell -command cmake -G \"MinGW Makefiles\" -DBUILD_HELICS_BOOST_TESTS=OFF -DCMAKE_SH=CMAKE_SH-NOTFOUND -DBOOST_INSTALL_PATH=C:/local/boost_1_58_0 '$env:JOB_OPTION_FLAGS' '$env:HELICS_DEPENDENCY_FLAGS' '$env:HELICS_OPTION_FLAGS' -DCMAKE_C_COMPILER=C:/ProgramData/chocolatey/lib/mingw/tools/install/mingw64/bin/gcc.exe -DCMAKE_CXX_COMPILER=C:/ProgramData/chocolatey/lib/mingw/tools/install/mingw64/bin/g++.exe ..
        - powershell -command cmake --build . --parallel
        - powershell -command ctest -R core-ci-tests

    # -----------------------------------------------
    # Daily ZMQ subproject build with new CMake
    # -----------------------------------------------
    - <<: *daily_linux
      name: "GCC 6 (CMake 3.11.4, ZMQ Subproject)"
      env:
        - MATRIX_EVAL="COMPILER=gcc && CC=gcc-6 && CXX=g++-6"
        - USE_SWIG=true
        - SKIP_TEST_RUN=true
        - USE_CMAKE_VERSION=3.11.4
        - ZMQ_SUBPROJECT=true
        - ZMQ_FORCE_SUBPROJECT=true

    # ------------------------------------------------
    # Jobs for daily valgrind and code coverage tests
    # ------------------------------------------------
    # Valgrind build
    - <<: *daily_linux
      name: "GCC 6 Valgrind"
      env:
        - MATRIX_EVAL="COMPILER=gcc && CC=gcc-6 && CXX=g++-6"
        - USE_SWIG=true
        - RUN_VALGRIND=true
        - DISABLE_INTERFACES="Python,Java"
        - BUILD_TYPE=RelWithDebInfo
    # Code coverage build
    - <<: *daily_linux
      name: "GCC 6 Code Coverage"
      env:
        - MATRIX_EVAL="COMPILER=gcc && CC=gcc-6 && CXX=g++-6"
        - USE_SWIG=true 
        - TEST_TYPE=Coverage
        - BUILD_TYPE=Coverage
        - DISABLE_INTERFACES="Python,Java"
        - GCOV_TOOL=gcov-6
        - USE_MPI=mpich
        - CTEST_VERBOSE=true
    # TSAN build
    - <<: *daily_linux
      name: "Clang 5 Thread Sanitizer"
      compiler: clang
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-trusty-5.0
          packages:
            - libstdc++-6-dev
            - clang-5.0
      env:
        - MATRIX_EVAL="COMPILER=clang && CC='clang-5.0' && CXX='clang++-5.0'"
        - CCACHE_CPP2=yes
        - CI_TEST_CONFIG="TSAN"
        - DISABLE_INTERFACES="Python,Java"
        - RUN_SANITIZER=tsan
        - USE_MPI=mpich
        - JOB_OPTION_FLAGS="-C../scripts/tsan-cache.cmake"
        - ZMQ_SUBPROJECT=true
        - ZMQ_FORCE_SUBPROJECT=true
    # UBSAN build
    - <<: *daily_linux
      name: "Clang 5 Undefined Behavior Sanitizer"
      compiler: clang
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-trusty-5.0
          packages:
            - libstdc++-6-dev
            - clang-5.0
      env:
        - MATRIX_EVAL="COMPILER=clang && CC='clang-5.0' && CXX='clang++-5.0'"
        - CCACHE_CPP2=yes
        - DISABLE_INTERFACES="Python,Java"
        - RUN_SANITIZER=ubsan
        - USE_MPI=mpich
        - JOB_OPTION_FLAGS="-C../scripts/ubsan-cache.cmake"
        - ZMQ_SUBPROJECT=true
        - ZMQ_FORCE_SUBPROJECT=true
      
    - stage: trigger dependent repositories
      if: branch IN (master, develop)
      before_install: true
      install: true
      script: scripts/trigger-dependent-ci-builds.sh

branches:
  except:
    - gh-pages

before_install:
  - eval "${MATRIX_EVAL}"
  - $CXX --version

install:
  - source scripts/install-ci-dependencies.sh
  - source scripts/setup-helics-ci-options.sh
  
script:
  - mkdir -p build && cd build
  - cmake .. ${JOB_OPTION_FLAGS} ${HELICS_DEPENDENCY_FLAGS} ${HELICS_OPTION_FLAGS} -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
  - make ${MAKEFLAGS}

  # Setup counters for coverage
  - if [[ "$BUILD_TYPE" == "Coverage" ]]; then pushd .. && scripts/lcov-helper.sh setup-counters && popd ; fi

  - if [[ "TRAVIS_OS_NAME" == "osx" ]]; then python ../scripts/fix_install_names.py ; fi
  - if [[ "TRAVIS_OS_NAME" == "osx" ]]; then make ${MAKEFLAGS} install ; fi

  # Run CI tests
  - export CTEST_OPTIONS="--output-on-failure"
  - |
    if [[ "$SKIP_TEST_RUN" != "true" ]]; then
    travis_wait ../scripts/run-ci-tests.sh ${CI_TEST_FLAGS}
    fi

  # Gather coverage results
  - if [[ "$BUILD_TYPE" == "Coverage" ]]; then pushd .. && scripts/lcov-helper.sh gather-coverage-info --gcov ${GCOV_TOOL} --codecov && popd ; fi

  # Create an installer using CPack
  - if [[ "$ENABLE_CPACK" ]]; then cpack -G STGZ -B $(pwd)/cpack-output ; fi

notifications:
    email: false
