clone_depth: 1

branches:
  only:
    - main
    - develop

version: 3.5.2.{build}

image: Visual Studio 2019

environment:
  global:
    CYG_ROOT: C:\cygwin64
    CYG_MIRROR: http://mirrors.sonic.net
    CYG_CACHE: C:\cygwin64\var\cache\setup
    CYG_BASH: C:\cygwin64\bin\bash

cache:
  - '%CYG_CACHE%'

#
# Install needed build dependencies
#
install:
  - '%CYG_ROOT%\setup-x86_64.exe --quiet-mode --no-shortcuts --upgrade-also --packages cmake,git,make,gcc-core,gcc-g++,libboost-devel,libzmq-devel'
  - '%CYG_ROOT%\bin\cygcheck -dc'
  - cd %APPVEYOR_BUILD_FOLDER%
  - git config --global --add safe.directory %APPVEYOR_BUILD_FOLDER%
  - git submodule update --init --recursive

before_build:
  - mkdir build
  - cd build
  - git config --global --add safe.directory /cygdrive/c/projects/helics
  - '%CYG_BASH% -lc "cd $APPVEYOR_BUILD_FOLDER/build && cmake ..  -DCMAKE_BUILD_TYPE=Release -DHELICS_ENABLE_SWIG=OFF -DHELICS_BUILD_TESTS=OFF -DHELICS_DISABLE_ASIO=ON -DHELICS_ENABLE_IPC_CORE=OFF"'
  - cd ..

# Build and test, actually.
build_script:
  - 'echo Building...'
  - '%CYG_BASH% -lc "cd $APPVEYOR_BUILD_FOLDER/build && make -j4 "'

test: off
