shallow_clone: true

version: 1.2.1.{build}

image: Visual Studio 2015

platform:
  - x64

configuration:
  - Release

cache:
  - C:\ProgramData\chocolatey\bin -> appveyor.yml
  - C:\ProgramData\chocolatey\lib -> appveyor.yml

install:

before_build:
  - IF NOT EXIST C:\ProgramData\chocolatey\bin\swig.exe choco install swig --yes --limit-output #> $null
  - mkdir build
  - cd build
  - cmake .. -G "Visual Studio 14 2015 Win64" -DAUTOBUILD_ZMQ=ON -DBOOST_INSTALL_PATH=C:/libraries/boost_1_63_0 -DENABLE_PACKAGE_BUILD=ON -DBUILD_RELEASE_ONLY=ON -DBUILD_C_SHARED_LIB=ON -DBUILD_CXX_SHARED_LIB=ON -DBUILD_JAVA_INTERFACE=ON
  - cd ..

build:
  project: build/HELICS.sln
  parallel: true
  verbosity: minimal

after_build:
  - cd build
  - cpack -B %cd%/installer-output
  - cd ..

test_script:
  - cd build
  - ctest --output-on-failure --timeout 240 -LContinuous
  - cd ..

artifacts:
  - path: build/installer-output/Helics-*.exe
