version: 2
aliases:

  - &setup_helics
    name: setup_helics
    environment:
    command: |
      mkdir -p build
      cd build
      eval cmake .. ${CMAKE_FLAGS}
      make -j 4

  - &run_octave_tests
    name: run_octave_tests
    command: |
       cd build
       make install
       cd ${OCTAVETEST}
       # this return the write error code in RESULT
       octave -W -V --eval "source('runTestsCIRCLECI.m');"
       RESULT=$?
       echo "*** Octave test result: "${RESULT}
       exit $RESULT

  - &run_helics_tests
    name: run_helics_tests
    command: |
       /root/project/scripts/run-nighly-circleci-tests.sh
       RESULT=$?
       exit $RESULT

  - &run_installer_tests
    name: run_intsller_tests
    command: |
       cd build
       make install
       ctest -R find-package-tests

jobs:
  helicsoctave:
    docker:
      - image: helics/octave:latest
    environment:
      OCTAVETEST: "/root/project/tests/octave"
      CMAKE_FLAGS: "-DBUILD_OCTAVE_INTERFACE=ON -DHELICS_BUILD_TESTS=ON"
    steps:
      - checkout
      - run: *setup_helics
      - run: *run_octave_tests

  helicsTSan:
    docker:
      - image: helics/clang-tsan:latest
    environment:
      CMAKE_FLAGS: '-DCMAKE_CXX_COMPILER=clang++ -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_FLAGS="-fsanitize=thread -stdlib=libc++ -L/root/develop/libcxx_tsan/lib -lc++abi -I/root/develop/libcxx_tsan/include -I/root/develop/libcxx_tsan/include/c++/v1 -Wno-unused-command-line-argument -g -O1 -Wl,-rpath=/root/develop/libcxx_tsan/lib"  -DHELICS_BUILD_TESTS=ON -DHELICS_ZMQ_SUBPROJECT=ON  -DHELICS_ZMQ_FORCE_SUBPROJECT=ON -DHELICS_DISABLE_SYSTEM_CALL_TESTS=ON'
      TSAN_OPTIONS: 'second_deadlock_stack=1 suppressions=/root/project/.circleci/tsan_suppression.txt'

    steps:
      - checkout
      - run: *setup_helics
      - run: *run_helics_tests

  helicsASan:
    docker:
      - image: helics/buildenv:sanitizers
    environment:
      CMAKE_FLAGS: '-DCMAKE_CXX_COMPILER=clang++ -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_FLAGS="-fsanitize=undefined,address -fsanitize-address-use-after-scope -stdlib=libc++ -L/root/develop/libcxx_asan/lib -lc++abi -I/root/develop/libcxx_asan/include -I/root/develop/libcxx_asan/include/c++/v1 -Wno-unused-command-line-argument -fno-omit-frame-pointer -g -O1 -Wl,-rpath=/root/develop/libcxx_asan/lib -fsanitize-blacklist=/root/project/.circleci/asan_blacklist.txt"  -DHELICS_BUILD_TESTS=ON -DHELICS_ZMQ_SUBPROJECT=ON  -DHELICS_ZMQ_FORCE_SUBPROJECT=ON'
      LSAN_OPTIONS: 'suppressions=/root/project/.circleci/leak_suppression.txt'
      UBSAN_OPTIONS: 'print_stacktrace=1'

    steps:
      - checkout
      - run: *setup_helics
      - run: *run_helics_tests

  helicsMSan:
    docker:
      - image: helics/buildenv:sanitizers
    environment:
      CMAKE_FLAGS: '-DCMAKE_CXX_COMPILER=clang++ -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_FLAGS="-fsanitize=memory -stdlib=libc++ -L/root/develop/libcxx_msan/lib -lc++abi -I/root/develop/libcxx_msan/include -I/root/develop/libcxx_msan/include/c++/v1 -Wno-unused-command-line-argument -fno-omit-frame-pointer -g -O1 -Wl,-rpath=/root/develop/libcxx_msan/lib"  -DHELICS_BUILD_TESTS=ON -DHELICS_ZMQ_SUBPROJECT=ON  -DHELICS_ZMQ_FORCE_SUBPROJECT=ON'

    steps:
      - checkout
      - run: *setup_helics
      - run: *run_helics_tests

  helicsInstall1:
    docker:
      - image: helics/buildenv:builder
    environment:
      CMAKE_FLAGS: '-DHELICS_BUILD_CXX_SHARED_LIB=ON -DHELICS_BUILD_TESTS=ON -DHELICS_INSTALL_PACKAGE_TESTS=ON'
    steps:
      - checkout
      - run: *setup_helics
      - run: *run_installer_tests

  helicsInstall2:
    docker:
      - image: helics/buildenv:builder
    environment:
      CMAKE_FLAGS: '-DHELICS_BUILD_TESTS=ON -DHELICS_INSTALL_PACKAGE_TESTS=ON'
    steps:
      - checkout
      - run: *setup_helics
      - run: *run_installer_tests

workflows:
  version: 2
  helics_test:
    jobs:
      - helicsoctave
      - helicsMSan
      - helicsASan
      - helicsTSan
      - helicsInstall1
      - helicsInstall2
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - develop
    jobs:
      - helicsoctave
      - helicsMSan
      - helicsASan
      - helicsTSan

