sphinx==7.2.6
sphinx_rtd_theme==2.0.0
myst-parser==2.0.0
ipython==8.20.0
ipykernel==6.29.0
breathe==4.35.0
sphinxcontrib-svg2pdfconverter==1.2.2
requests==2.32.0
gmlc-tdc-sphinxcontrib-redoc==1.6.1a1
sphinxcontrib-mermaid==0.9.2
