name: Code Coverage

on:
  workflow_dispatch:
    inputs:
      testConfig:
        description: 'Test Config'
        default: 'Coverage'
  push:
    branches: [ main, develop, helics3 ]
  pull_request:
    branches: [ main, develop, helics3 ]

jobs:
  build:
    runs-on: ubuntu-latest
    container: helics/buildenv:ubuntu20.04-default-builder
    defaults:
      run:
        shell: bash
    env:
      BUILD_TYPE: Coverage
      TEST_TYPE: ${{ github.event.inputs.testConfig }}
      GCOV_TOOL: gcov
      CMAKE_GENERATOR: Unix Makefiles
      MAKEFLAGS: '-j 4'
      CI_TEST_FLAGS: ""
      
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
      
    - name: Build HELICS
      run: |
        source scripts/setup-helics-ci-options.sh
        mkdir -p build && cd build
        ../scripts/ci-build.sh
        
    - name: Setup coverage counters
      run: scripts/lcov-helper.sh setup-counters
      
    - name: Run tests
      working-directory: build
      run: |
        source ../scripts/setup-helics-ci-options.sh
        export CTEST_OPTIONS="--output-on-failure"
        echo "Running CI tests with flags ${CI_TEST_FLAGS}"
        ../scripts/run-ci-tests.sh ${CI_TEST_FLAGS}
      
    - name: Gather and upload coverage results
      run: scripts/lcov-helper.sh gather-coverage-info --gcov ${GCOV_TOOL} --codecov
