name: Static Analyzers

on:
  workflow_dispatch:
  push:
    branches:
      - develop
      - main
      - helics2
  pull_request:
    branches:
      - develop
      - main
      - helics2

jobs:
  cpplint:
    runs-on: ubuntu-latest
    container: helics/buildenv:cpplint

    steps:
    - uses: actions/checkout@v2
    - name: Run cpplint
      run: cpplint --counting=detailed --recursive examples benchmarks src tests

  clang-tidy:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    container: helics/buildenv:clang-extra-tools

    steps:
    - uses: actions/checkout@v2
    - name: Run clang-tidy on changed files
      shell: bash
      run: ./.github/actions/run-clang-tidy-pr.sh
