name: Generate SWIG Interfaces

on:
  workflow_dispatch:
  push:
    branches: 
      - master
      - main
      - develop
      - helics3

jobs:
  build:

    runs-on: ubuntu-latest
    container:
      image: helics/buildenv:interface-gen
    
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Run SWIG
      run: |
        rm -rf interfaces/*/interface/*
        mkdir build_matlab
        pushd build_matlab
        cmake -DHELICS_BUILD_MATLAB_INTERFACE=ON -DHELICS_SWIG_GENERATE_INTERFACE_FILES_ONLY=ON -DHELICS_OVERWRITE_INTERFACE_FILES=ON -DHELICS_BUILD_EXAMPLES=OFF -DHELICS_ENABLE_ZMQ_CORE=OFF -DHELICS_BUILD_TESTS=OFF -DHELICS_BUILD_APP_EXECUTABLES=OFF -DHELICS_DISABLE_BOOST=ON -DHELICS_ENABLE_SWIG=ON -DSWIG_EXECUTABLE=/root/swig-matlab/bin/swig ..
        make -j2 mfile_overwrite
        popd
        mkdir build_interface
        pushd build_interface
        cmake -DHELICS_BUILD_JAVA_INTERFACE=ON -DHELICS_SWIG_GENERATE_INTERFACE_FILES_ONLY=ON -DHELICS_OVERWRITE_INTERFACE_FILES=ON -DHELICS_BUILD_EXAMPLES=OFF -DHELICS_ENABLE_ZMQ_CORE=OFF -DHELICS_BUILD_TESTS=OFF -DHELICS_BUILD_APP_EXECUTABLES=OFF -DHELICS_DISABLE_BOOST=ON -DHELICS_ENABLE_SWIG=ON ..
        make -j2 javafile_overwrite
        popd
    - name: Stage changed interface files
      shell: bash --noprofile --norc {0}
      run: git add interfaces/
    - uses: gmlc-tdc/create-pr-action@v0.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        COMMIT_MSG: "Automated update to generated interface files"
        PR_TITLE: "Automated update to generated interface files"
        PR_BODY: "Automated update to generated interface files from commit https://github.com/${{ github.repository }}/commit/${{ github.sha }}."
        GIT_NAME: "github-actions[bot]"
        GIT_EMAIL: "41898282+github-actions[bot]@users.noreply.github.com"
        BRANCH_PREFIX: "interface-gen/"
        DISABLE_STAGING: true
